{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>cred</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/CrditCardSettings.css' %}">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

</head>

<body id="credbody" data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <section id="sec1">
    <div class="row">

      <div data-aos="fade-up" data-aos-delay="" id="k1">

        <figure class="circle-bg">

          <img style="border-radius: 8%;" src="{% static 'img/cred17.jpg' %}" alt="" class="img1">
        </figure>

      </div>
      <div style="position: absolute; left:55%; top:35%;" class="col-lg-5 ml-auto" data-aos="fade-up"
        data-aos-delay="100">

        <p class="p1" data-aos="fade-up" data-aos-delay="100">Credit Cards </p>

      </div>
    </div>

    </div>
    </div>
    </div>

  </section>


  <section id="sec2">
    <div id="div11">
      <img class="img" src="{% static 'img/22.jpg' %}" alt="">
      <h2>Master card standard</h2>


      <p class="p2" style="position: relative;left: 8px;top: -25px;font-size: 18px;"> Most used card in Egypt & abroad
        for purchses nd cash withdrwal</p>
      <h5>Maximum Credit Limit</h5>
      <h1 id="h1"><span> 9,999</span><small>EGP</small> </h1>

      <br>
      <h3>Additional card fees</h3>

      <h4><span>25</span>EGP</h4>

      <button><a id="buttomTxt" href="creditcardForm">Apply now</a></button>

    </div>



    <div id="div22">
      <img class="img" src="{% static 'img/cred19.jpg' %}" alt="">
      <h2>Visa Classic</h2>
      <p class="p2" style="position: relative;left: 8px;top: -25px;font-size: 18px;"> Most used card in Egypt & abroad
        for purchses nd cash withdrwal</p>
      <h5>Maximum Credit Limit</h5>
      <h1 id="h1"><span> 9,999</span><small>EGP</small> </h1>

      <br>
      <h3>Additional card fees</h3>
      <h4><span>25</span>EGP</h4>
      <button><a id="buttomTxt" href="creditcardForm">Apply now</a></button>

    </div>



    <div id="div33">
      <img class="img" src="{% static 'img/22.jpg' %}" alt="">
      <h2>Master Card Egyptair </h2>

      <p class="p3" style="position: relative;left:10px;top: -20px;
    ">Master card Egyptair</p>
      <h5>Maximum Credit Limit</h5>
      <h1 id="h1"><span> 9,999</span><small>EGP</small> </h1>

      <br>
      <h3>Additional card fees</h3>
      <h4><span>25</span>EGP</h4>

      <button style=" position: relative;top:15px ;">
        <a id="buttomTxt" href="creditcardForm">Apply now</a></button>
    </div>
  </section>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>